$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$phone: "(max-width: 768px)";
$text-color: #002D40;
$palette-yellow: #ECCF54;
$palette-green: #4eab8c;
$palette-red: #e46c57;
$palette-blue: #195274;
$underline-hover-transition-speed: 0.25s;

$container-width: 42rem;
$container-generous-width: 80rem;
$standard-padding: 1rem;
$bubble-width: ($container-generous-width - $container-width) / 2 - $standard-padding;


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  &::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0.1em; // Relative to the size of the font
    left: -1em; // Relative to the size of the font
    height: 0.3em; // Relative to the size of the font
    width: calc(100% + 1.5em);
    z-index: -10;
    background-color: $palette-green;
  }
}

li {
  padding: 0.5em 0;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

p {
  line-height: 1.7rem;
}

a {
  color: $text-color;
  text-decoration: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: $container-width;
  margin: 0 auto;
  &.generous {
    max-width: $container-generous-width;
  }
}
