.component.Header {
  display: flex;
  h1 {
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    flex-grow: 2;
    @media #{$tablet} {
      font-size: 14px;
    }
    @media #{$phone} {
      font-size: 14px;
    }
  }
  img {
    height: 2em;
    padding-right: 1em;
  }
  nav {
    text-align: center;
    margin-top: 2em;

    ul {
      margin: 0 auto;
      padding: 0;
      @media #{$phone} {
        background: #f8f8f8;
        border-top: 2px solid #d0e4ea;
        padding: 1em 0;
      }
    }
    ul li {
      display: inline;
      padding: 0 1.5em;
    }
    @media #{$phone} {
      margin-top: initial;
    }
  }
  .title {
    padding: 1em;
    flex-grow: 2;
  }
  @media #{$phone} {
    display: initial;
  }
}
