.container {
  @media #{$desktop} {
    display: flex;
  }
  padding: 0;
  margin: 0;
}

.mayor {
  @media #{$desktop} {
    width: 10em;
    height: 12em;
    object-fit: cover;
    margin-right: 1em;
  }
}

.info {
  border: 0.1em solid;
  padding: 1em;
}

.quote {
  font-size: 1.5rem;
  font-family: Georgia;
  @media #{$desktop} {
    width: 64em;
  }
}

figure {
  margin: 0;
}
