.component.Slide {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  h1 {
    background: white;
    margin-left: 20%;
    display: inline-block;
  }

  .slide-controls {
    position: absolute;
    bottom: $standard-padding;
  }

  &[data-slide="0"] {
    background-image: url("/assets/images/hartford-ct.jpg");
  }

  &[data-slide="1"] {
    background-image: url("/assets/images/boston.jpg");
  }

  &[data-slide="2"] {
    background-image: url("/assets/images/new-york-city.jpg");
  }
}
