.component.Story {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100vw;
  height: 100vh;
  padding-bottom: 0;

  background: $color_bg-light;

  header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    margin: 0 auto;
  }
}
