.best-practices {
  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;
  }
}

.best-practice {
  border: 0.2em solid;
  margin-top: 1em;
  margin-right: 1em;
  @media #{$desktop} {
    display: flex;
  }
}

.best-practice-description {
  padding: 1em;
  @media #{$desktop} {
    width: 16em;
  }
}

.best-practice-image {
  img {
    width: 100%;
  }
  @media #{$desktop} {
    width: 14em;
    img {
      width: 14em;
    }
  }
}

.topic-buttons {
  @media #{$desktop} {
    width: 50em;
  }
}

.sub-topic-buttons {
  @media #{$desktop} {
    width: 50em;
  }
}

.topic {
  font-size: 16px;
  padding: 0.5em 1em;
  background: white;
  color: #002D40;
  border: 1px solid #002D40;
  text-transform: uppercase;
}

.selected-topic {
  font-size: 16px;
  padding: 0.5em 1em;
  background: #002D40;
  border: 1px solid #002D40;
  text-transform: uppercase;
}
