body {
  font-family: sans-serif;
  color: #707070;
  margin: 0 auto;
  width: 90%;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.box {
  border: 0.1em solid;
  width: 10em;
  padding: 2em;
  background-color: white;
}

.housing-best-practices {
  display: flex;
}

.button-container {
  width: 33%;
}

.best-practices {
  width: 65%;

  img {
    max-width: 100%;
  }
}

.best-practice {
  display: flex;
}

.best-practice-description {
  width: 55%;
  border: 0.1em solid;
  margin: 1em;
  padding: 1em;
}

.best-practice-image {
  width: 45%;
  margin: 1em;
}

.compact {
  border: 0.1em solid;
  width: 60%;
  margin: 2em 5em;
  padding: 2em 5em;
  position: relative;

  h2 {
    text-align: center;
  }

  a {
    color: #707070;
    text-decoration: none;
  }
}

.signature {
  max-width: 15em;
}

.task-force {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.task-force-member {
  width: 10em;
  height: 10em;
  border: 0.1em solid;
  object-fit: cover;
}

.task-force-text {
  width: 10%;
  font-size: 22px;
}

.task-force-members {
  width: 90%;
  overflow: hidden;
  img {
    float: left;
  }
}

.topic {
  font-size: 16px;
  padding: 8px 16px;
}

.selected-topic {
  font-size: 16px;
  padding: 8px 16px;
  background: black;
}

.sub-topic {
  font-size: 16px;
  padding: 8px 16px;
}

#best-practices {
  padding: 3em 0.7em;
  margin-left: -13em;
  margin-top: -12em;
  position: absolute;
}

#housing {
  margin-left: 87%;
  margin-top: -17em;
  position: absolute;
}
