$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$phone: "(max-width: 768px)";

body {
  font-family: sans-serif;
  color: #707070;
  margin: 0 auto;
  @media #{$desktop} {
    width: 75em;
  }
  width: 20em;
  font-size: 16px;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.box {
  border: 0.1em solid;
  width: 10em;
  padding: 2em;
  background-color: white;
}

.housing-best-practices {
  @media #{$desktop} {
    display: flex;
  }
}

.button-container {
  @media #{$desktop} {
    width: 33%;
  }
}

.best-practices {
  @media #{$desktop} {
    width: 65%;
  }
  img {
    max-width: 100%;
  }
}

.best-practice {
  display: flex;
}

.best-practice-description {
  width: 55%;
  border: 0.1em solid;
  margin: 1em;
  padding: 1em;
}

.best-practice-image {
  width: 45%;
  margin: 1em;
}

.compact {
  padding: 1em;
  margin: 1em 0.1em;
  @media #{$desktop} {
    padding: 2em 5em;
  }
  border: 0.1em solid;
  position: relative;

  h2 {
    text-align: center;
  }

  a {
    color: #707070;
    text-decoration: none;
  }
}

.signature {
  max-width: 15em;
}

.task-force {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media #{$desktop} {
    justify-content: flex-end;
  }
}

.task-force-member {
  @media #{$desktop} {
    width: 8em;
    height: 8em;

  }
  width: 6em;
  height: 6em;
  border: 0.1em solid;
  object-fit: cover;
  border-radius: 50%;
  margin: 1em;
}

.task-force-text {
  @media #{$desktop} {
    width: 10%;
  }
  font-size: 22px;
}

.task-force-members {
  overflow: hidden;
  img {
    float: left;
  }
  @media #{$desktop} {
    width: 90%;
  }
}

.topic {
  font-size: 16px;
  padding: 8px 16px;
}

.selected-topic {
  font-size: 16px;
  padding: 8px 16px;
  background: black;
}

#best-practices {
  margin: 2em 0;
  @media #{$desktop} {
    padding: 3em 0.7em;
    margin-left: -13em;
    margin-top: -40em;
    position: absolute;
  }
}

#housing {
  margin: 2em 0;
  @media #{$desktop} {
    margin-left: 87%;
    margin-top: -70em;
    position: absolute;
  }
}

#first-task-force-member {
  @media #{$desktop} {
    margin-left: 4em;
  }
}
