$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$phone: "(max-width: 768px)";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 16em;
  font-size: 16px;
  @media #{$desktop} {
    width: 73em;
  }
}

h1 {
  font-size: 40px;
}

li {
  padding: 0.5em 0;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.box {
  border: 0.1em solid;
  width: 10em;
  padding: 2em;
  background-color: white;
}

.compact {
  padding: 1em;
  margin: 0 0.1em;
  position: relative;
  @media #{$desktop} {
    padding: 2em 5em;
  }
}

.signature {
  max-width: 15em;
}

.task-force {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.task-force-member {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 50%;
  margin: 1em;
  @media #{$desktop} {
    width: 6em;
    height: 6em;
  }
}

.task-force-text {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  @media #{$desktop} {
    width: 8em;
    position: relative;
    left: 34.5em;
    top: -6em;
  }
}

.task-force-members {
  overflow: hidden;
  img {
    float: left;
  }
  @media #{$desktop} {
    width: 66em;
  }
}

#best-practices {
  @media #{$desktop} {
    padding: 3.1em 3.1em;
    margin-left: -17em;
    margin-top: -50em;
    position: absolute;
    background: url("../images/best-practices-background.svg") no-repeat;
    color: white;
    span {
      margin-left: 80px;
      color: white;
    }
    img {
      margin-top: -2.9em;
      margin-left: 6em;
    }
    h3 {
      margin-left: 80px;
    }
  }
  img {
    height: 140px;
  }
  h3 {
    margin-bottom: 0em;
  }
}

#housing {
  @media #{$desktop} {
    margin-left: 55em;
    margin-top: -45em;
    position: absolute;
    background: url("../images/housing-background.svg") no-repeat;
    padding: 12em 12em;
    img {
      margin-top: -6em;
    }
    h3 {
      color: white;
      width: 10em;
      padding: 0;
      margin-bottom: 0;
      margin-left: -70px;
    }
    span {
      color: white;
      margin-left: -70px;
    }
  }
  img {
    height: 140px;
  }
}

#first-task-force-member {
  @media #{$desktop} {
    margin-left: 5em;
  }
}

#right-bottom-border {
  border-bottom: 8px solid #81B7B7;
  right: 0;
  width: 9.5em;
  positon: absolute;
}

#left-bottom-border {
  border-bottom: 8px solid #81B7B7;
  width: 9.5em;
  position: absolute;
  left: 0;
}

.navigation {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

a {
  color: #707070;
  text-decoration: none;
}
