.hidden {
  display: none;
}

.next {
  position: fixed;
  bottom: 0;
}

.previous {
  position: fixed;
  bottom: 0;
}

.slide {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#slide-number-1 {
  background-image: url("../images/hartford-ct.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

#slide-number-2 {
  background-image: url("../images/hartford-ct-2.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
