/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Table styles */
table.meetings {
  th {
    border: 1px solid #a4ccd8 ;
    background-color: #a4ccd8 !important;
    color: #002d3d;
  }
  td {
    border: 1px solid #a4ccd8;
  }
}

.component.TaskForceMeetings {
    margin: .75em auto 1.2em;
    height: calc(100vh - 230px); //Calculated based on subtracting header and footer
    overflow-y: scroll;
}
