.component.CompactSection {
  overflow: hidden;

  .container {
    position: relative;
    padding-left: $bubble-width;
    padding-right: $bubble-width;
    @media #{$phone} {
      padding-right: 1em;
      padding-left: 1em;
      font-size: 1.3em;
    }
  }

  p + p { margin-top: 2em; }

  .bubble {
    h3 {
      margin: 0 0 0.5rem 0;
    }
    .text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @media #{$phone} {
      display: none;
    }
  }

  
  ol { margin: 2em auto; }

  li { 
    line-height: 1.6em; 

    & + li { margin-top: .5em; }
  }
  

  .bubble.best-practices {
    width: $bubble-width * 2;
    height: $bubble-width * 2;
    position: absolute;
    top: 10rem;
    left: -#{$bubble-width + 1rem};
    background-color: $palette-red;
    border-radius: 50%;
    color: white;
    .text {
      left: 66%;
    }
  }

  .bubble.housing {
    width: $bubble-width * 2;
    height: $bubble-width * 2;
    position: absolute;
    top: 60rem;
    right: -#{$bubble-width + 1rem};
    color: white;
    border-radius: 50%;
    background-color: $palette-green;
    .text {
      right: 66%;
    }
  }

  ol li h4 {
    border-bottom: 0.2em solid $palette-green;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
  }
}
