.component.IntroSection {
  background: url('/assets/images/skyline.jpg');
  background-size: cover;
  background-position: 50% 50%;
  padding: 3rem 0;
  margin: 0 0 2em 0;
  text-align: center;
  h2 {
    border: none;
    padding: 0;
    margin: 0.2em 0;
  }
  p {
    margin: 0;
    font-size: 1.3rem;
    font-style: italic;
  }
}
