@use "sass:color";

.component.Member {
  padding: 1rem;

  color: $color_font-dark;
  font-size: 0.8rem;
  text-align: center;

  a { border-radius: 50%; }

  .image-container {
    width: 7rem;
    height: 7rem;

    border-radius: 50%;
    overflow: hidden;

    &.orange {
      color: color.adjust($color_palette-orange, $lightness: -30%);

      background: $color_palette-orange;
      transition: background .12s;

      &:hover {
        background: color.adjust($color_palette-orange, $lightness: -5%);
        transition: background .12s;
      }
    }
    &.blue {
      color: color.adjust($color_palette-blue, $lightness: -30%);

      background: $color_palette-blue;
      transition: background .12s;

      &:hover {
        background: color.adjust($color_palette-blue, $lightness: -5%);
        transition: background .12s;
      }

    }
    &.skyblue {
      color: color.adjust($color_palette-skyblue, $lightness: -30%);

      background: $color_palette-skyblue;
      transition: background .12s;

      &:hover {
        background: color.adjust($color_palette-skyblue, $lightness: -5%);
        transition: background .12s;
      }

    }
    &.green {
      color: color.adjust($color_palette-green, $lightness: -30%);

      background: $color_palette-green;
      transition: background .12s;

      &:hover {
        background: color.adjust($color_palette-green, $lightness: -5%);
        transition: background .12s;
      }

    }
    &.yellow {
      color: color.adjust($color_palette-yellow, $lightness: -30%);

      background: $color_palette-yellow;
      transition: background .12s;

      &:hover {
        background: color.adjust($color_palette-yellow, $lightness: -5%);
        transition: background .12s;
      }

    }
  }

  h4 {
    @extend ._vertical-center;

    top: 30%;
    font-weight: 700;
    font-size: $font_size-base;
    text-transform: uppercase;

    /*
    @media #{$phone} {
      position: absolute;
      bottom: -.6em;

      width: 100%;
      padding: 0.3em 0 1.5em;

      font-size: $font_size-base--rem - $font_mod-small;

      background-color: white;
    }
    */
  }

  .name, .title { font-size: $font_size-small; }

  .name {
    margin-top: calc($font_size-small / 2);

    font-weight: 500;
  }

  .title { font-style: italic; }
}
