.component.Member {
  padding: 1rem;

  color: $color_font-dark;
  font-size: 0.8rem;
  text-align: center;

  .image-container {
    width: 7rem;
    height: 7rem;

    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;

    &.orange {
      color: darken($color_palette-orange, 30);
      background: $color_palette-orange;
      border-color: $color_palette-orange;
    }
    &.blue {
      color: darken($color_palette-blue, 30);
      background: $color_palette-blue;
      border-color: $color_palette-blue;
    }
    &.skyblue {
      color: darken($color_palette-skyblue, 30);
      background: $color_palette-skyblue;
      border-color: $color_palette-skyblue;
    }
    &.green {
      color: darken($color_palette-green, 30);
      background: $color_palette-green;
      border-color: $color_palette-green;
    }
    &.yellow {
      color: darken($color_palette-yellow, 30);
      background: $color_palette-yellow;
      border-color: $color_palette-yellow;
    }
  }

  h4 {
    @extend ._vertical-center;

    top: 30%;
    font-weight: 700;
    font-size: $font_size-base;
    text-transform: uppercase;

    /*
    @media #{$phone} {
      position: absolute;
      bottom: -.6em;

      width: 100%;
      padding: 0.3em 0 1.5em;

      font-size: $font_size-base--rem - $font_mod-small;

      background-color: white;
    }
    */
  }

  .name, .title { font-size: $font_size-small; }

  .name {
    margin-top: $font_size-small / 2;

    font-weight: 500;
  }

  .title { font-style: italic; }
}
