.component.TaskForceSection {
  display: flex;
  justify-content: center;
  .heading-container {
    flex: 1;
    margin: 0 0 0 2rem;
    h2 {
      margin: 0;
      padding: 0;
      @media #{$desktop} {
        // width: 8em;
        // position: relative;
        // left: 34.5em;
        // top: -6em;
      }
    }
  }

  .row-2 {
    display: flex;
    align-items: center;
  }
  .row-1, .row-3 {
    .task-force-members a:first-child {
      @media #{$desktop} {
        margin-left: 4rem;
      }
    }
  }
  .task-force-members {
    display: flex;
    @media #{$desktop} {
      // width: 66em;
    }
  }
}
