.component.TaskForceSection {
  display: flex;
  justify-content: center;
  .heading-container {
    flex: 1;
    margin: 0 0 0 2rem;
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  .column {
    .row:nth-child(odd) > *:first-child {
      margin-left: 4rem;
    }
    &.three {
      display: none;
    }
    .heading-row {
      display: flex;
      align-items: center;
    }
    .row {
      display: flex;
    }
  }
  @media #{$layout-tablet} {
    .column.five {
      display: none;
    }
    .column.three {
      display: block;
    }
  }
  .task-force-members {
    display: flex;
  }
}
