.component.BestPractices {

  .contact-box {
    $_break: 1159px;
    position: absolute;
    top: 32px;
    right: 0;

    padding: 20px 30px;

    background: $color_bg-medium;

    @include media($_break) {
      top: initial;
      left: 0;
      bottom: -120px;

      width: 100%;
    }

    p {
      margin: 0;
      font-weight: 600;

      @include media($_break) { margin-bottom: 1em; }
    }

    a {
      color: $color_palette-orange;

      &:hover { color: $color_palette-orange--dark; }
    }
  }


  /*
  .contact-box {
    margin-top: 30px;

    p {
      display: inline-block;

      margin: 0;
      margin-right: 10px;

      font-weight: 600;
    }

    a {
      color: $color_palette-orange;

      &:hover { color: $color_palette-orange--dark; }
    }
  }
  */
}
