.component.BestPractice {

  display: flex;

  min-height: 15rem;
  border: 0.3em solid #98c3d1;

  .best-practice-description {
    flex: 1 0 70%;
    padding: 1em;

    color: #568095;

    h4 {
      margin-bottom: 0;

      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }

  .best-practice-image {
    flex: 1 0 30%;

    width: 100%;
  }

}
