.component.BestPractice {

  display: flex;

  min-height: 15rem;
  border: 0.3em solid;

  * { box-sizing: border-box; }

  $color-list: (
    gray: #d8d8d8,
    light-pink: #fbe1e2,
    blue: #3bc5e8,
    green: #72c6a6,
    light-yellow: #ffe3a3,
    pink: #f8c4c5,
    light-blue: #bdebf7,
    purple: #d3adc0,
    light-purple: #eddee5,
    dark-purple: #b16e90,
    orange: #e96916,
    dark-blue: #106b82
  );

  @each $color, $value in $color-list {
    &.#{$color} {
      color: $value;
      border-color: $value;

      .best-practice-image { background-image: url('/assets/images/green-best-practice.jpg'); }
    }
  }

  .best-practice-description {
    flex: 1 0 70%;
    padding: $standard-padding;

    h4 {
      margin-bottom: 0;

      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }

  .best-practice-image {
    flex: 1 0 30%;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}
