.component.Strategies {
  padding-top: 2rem;

  .button-container {
    margin-bottom: $topic_margin * 4;
  }

  h3 { margin: 0 auto ($topic_margin / 2); }

  .best-practices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    @include media(small) { display: block; }
  }

}
