.component.Strategies {
  padding-top: 2rem;

  .button-container {
    margin-bottom: $topic_margin * 4;
  }

  .additional-tag {
    display: inline-block;
    padding: 8px 12px;
    top: -8px;
    margin-top: -8px;

    color: $color_font-light;
    font-size: 11px;
    font-weight: 600;

    border-radius: 3px;
    background: $color_palette-blue;
  }

  h3 { margin: 0 auto calc($topic_margin / 2); }

  .best-practices {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media(small) { display: block; }
  }

  .additional-practices h3 { margin: 45px 0 30px; }

  .practice-overlay {
    $_break: 780px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    text-align: center;

    .overlay-net {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: $color_bg-dark;
      cursor: pointer;
      opacity: .3;
    }

    .overlay-controls {
      @extend ._vertical-center;
      z-index: 5;

      max-width: 810px;
      width: 100%;
      margin: 0 auto;

      @include media($_break) {
        top: initial;
        bottom: 10%;
      }

      .slide-control {
        $_color: $color_palette-orange;
        position: absolute;

        opacity: 1;
        background: $color_bg-light;
        border-color: rgba($_color, .7);
        border-radius: 0;
        box-shadow: 2px 2px 7px 3px rgba(0,0,0,.1);
        transition: border-color .12s;

        &:before { border-color: rgba($_color, .7); }

        @include media($_break) {
          &:first-of-type { left: 5px; }
          &:last-of-type { right: 5px; }
        }

        &:hover {
          border-color: $_color;
          transition: border-color .12s;

          &:before {
            border-color: $_color;
            transition: border-color .12s;
          }
        }
      }
    }

    .overlay-content-wrapper {
      width: 90%;
      height: 100vh;
      max-width: 700px;
      margin: 0 auto;

      text-align: center;

      overflow: hidden;

      @include media($_break) { width: 95%; }

      .close-button {
        position: absolute;
        top: 28px;
        left: -1px;
        z-index: 1000;

        padding: .5em .75em;

        color: rgba($color_palette-orange, .7);
        font-size: 14px;
        font-weight: 600;

        background: $color_bg-light;
        border: 3px solid rgba($color_palette-orange, .7);
        box-shadow: 2px 2px 7px 3px rgba(0,0,0,.1);
        outline: none;
        transition: border-color .12s, color .12s;

        @include media($_break)  { display: block; }

        &:hover {
          color: rgba($color_palette-orange, 1);
          border-color: rgba($color_palette-orange, 1);
          transition: border-color .12s, color .12s;
        }
      }
    }

    .overlay-content-scrollbox {
      @extend ._vertical-center;
      left: -5%;

      width: 110%;
      max-height: 100vh;
      margin: 0 auto;

      overflow-x: hidden;
      overflow-y: auto;
    }

    .overlay-content {
      width: 80%;
      margin: 5vh auto;
      padding: 20px 30px;

      text-align: left;

      background: $color_bg-light;
      border: 5px solid $color_palette-blue;
      box-shadow: 2px 2px 7px 3px rgba(0,0,0,.1);
      overflow-x: hidden;
      overflow-y: auto;

      @include media($_break) { width: 85%; }

      @include media(small) {
        width: 90%;
        padding: 14px 22px;
      }

      .overlay-icon {
        position: absolute;
        top: 5px;
        right: 5px;

        width: 60px;
        height: auto;
      }

      .field { margin: 20px auto; }

      h2 { padding-right: 60px; }
      h4 { margin-bottom: 5px; }
      p { margin-top: 15px; }

      .sub-header {
        display: block;

        margin-top: 4px;

        color: mix($color_font-dark, $color_palette-skyblue, 20%);
        font-size: 12px;
        font-weight: 300;
      }

      ul {
        padding-left: 2em;

        list-style: none;
      }

      li {
        &:before {
          content: '▪';
          display: inline-block;

          position: relative;
          top: .1em;

          font-size: 2em;
          line-height: .7em;
          width: 1em;
          margin-left: -1em;
        }

        &:nth-of-type(4n):before { color: $color_palette-orange; }
        &:nth-of-type(4n + 1):before { color: $color_palette-skyblue; }
        &:nth-of-type(4n + 2):before { color: $color_palette-blue; }
        &:nth-of-type(4n + 3):before { color: $color_palette-green; }
      }

    }
  }

}
