.component.Topics {

  &.container {
    max-width: 70rem; 
    padding: 0 5rem;
  }

  .best-practices {
    @media #{$desktop} {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .button-container {
    @media #{$desktop} {
      width: 50em;
    }
  }

  h3 {
    margin: 0 auto;  
  }

  .topic {
    $topic_margin: .4em;

    margin: $topic_margin 0;
    margin-right: $topic_margin * 2;
    padding: ($topic_margin + .1) ($topic_margin * 2) $topic_margin;

    color: $text-color;
    font-size: 16px;
    text-transform: uppercase;

    background: $bg-color;
    border: 1px solid $text-color;
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      color: $bg-color;

      background: $palette-blue-light;
      border-color: $palette-blue-light;
    }

    &.selected {
      color: $bg-color;

      background: $palette-blue;
      border-color: $palette-blue;

      &:hover, &:focus {
        background: $palette-blue-dark; 
        border-color: $palette-blue-dark;
      }
    }
  }

}
