* { 
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: $color_font-dark;
  font-size: 16px;
  font-family: $font_family-primary;
}

p {
  font-family: $font_family-secondary;;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
