* { 
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: $color_font-dark;
  font-size: 16px;
  font-family: $font_family-primary;
}

h1 { 
  &:not(.unstyled) {
    font-family: $font_family-secondary; 
    font-weight: 400;
  }
}

a { text-decoration: none; }

.container {
  width: 95%;
  max-width: 1540px;
  margin: 0 auto;
}
