// Color

$color_font-light: #fff;
$color_font-dark: #002D40;

$color_bg-light: #fff;
$color_bg-medium: #FAFAF8;
$color_bg-dark: #002D40;

$color_palette-orange: #D49162;
$color_palette-blue: #568095;
$color_palette-skyblue: #98C3D1;
$color_palette-green: #B5D4A4;
$color_palette-yellow: #E7C55B;

$color_palette-blue--light: mix(white, $color_palette-blue, 10);
$color_palette-blue--dark: mix(black, $color_palette-blue, 15);


// Font

$font_family-primary: 'Roboto', sans-serif;
$font_family-secondary: 'gastromond', serif;


// Breakpoints

$underline-hover-transition-speed: 0.25s;

$tablet: "(min-width: 768px) and (max-width: 1100px)";
$desktop: "(min-width: 1024px)";
$phone: "(max-width: 768px)";

$layout-tablet: "(max-width: 70rem)";
